* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: black;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

main {
  display: flex;
  height: calc(100% - 90px);
  overflow-y: hidden;
}
.main-nav {
  width: 250px;
  height: 100%;
  /* padding: 20px; */
  background-color: black;
  overflow-y: hidden;
  min-height: 480px;
  color: white;
}
.main-nav a {
  color: #A3A3A3;
}

.nav-top {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 90px);
  padding: 20px;
  background-color: black;
  overflow: hidden;
}
.nav-logo img {
  width: 80%;
}
.nav-menu {
  padding: 20px 0;
}
.nav-menu ul {
  list-style: none;
}
.nav-menu a {
  font-weight: 600;
}
.nav-menu li {
  height: 30px;
  line-height: 30px;
  margin-top: 10px;
}
.nav-menu img {
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.nav-playlist {
  padding: 20px 0;
  overflow: hidden;
}
.nav-playlist ul {
  list-style: none;
}
.nav-playlist li {
  height: 30px;
  line-height: 30px;
}
.nav-playlist a {
  font-weight: 600;
}
#playlists {
  height: 67%;
  overflow-y: auto;
}

.btn_plus {
  margin: 20px 0;
  text-decoration: none;
  color: white;
  display: inline-block;
}
.btn_plus::before {
  content: "+";
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: grey;
  color: white;
  margin-right: 10px;
}

.nav-bottom {
  width: 100%;
  height: 90px;
  padding: 10px 20px 20px;
  background-color: black;
}
.installer {
  border-bottom: 1px solid #A3A3A3;
}
.installer i,a {
  color: #A3A3A3;
  margin-bottom: 10px;
}
.profile {
  margin-top: 10px;
}
.profile a {
  color: white;
  font-weight: 700;
}
.nav-bottom .profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}

.main-content{
  /* height: 100%; */
  width: calc(100% - 250px);
  padding: 110px 20px 20px;
  background-color: #141922;
  overflow-y: auto;
}

.cta {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 250px);
  height: 90px;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.5);
}
.cta a {
  line-height: 90px;
  color: white;
  border: 1px solid white;
  padding: 13px 40px;
  border-radius: 50px;
  margin-right: 20px;
  text-transform: uppercase;
  font-weight: 600;
  transition: font-size 0.2s linear;
}
.nav-main {
  text-align: center;
}
.nav-main ul {
  list-style: none;
  display: inline-block;
}
.nav-main li {
  list-style: none;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  margin-right: 10px;
  color: #A3A3A3;
}
.main-content h3 {
  color: white;
  margin-top: 40px;
  font-size: 32px;
}
.music {
  display: flex;
  width: 100%;
}
.box {
  position: relative;
}
.box-images {
  text-align: center;
  margin-top: 30px;
  position: relative;
}
.box-images .layover {
  width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.2s linear;
}
.main-content  .box .box-images:hover > .layover {
    cursor: pointer;
    opacity: 1;
}
.box-images .layover i {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
}
.box-images img {
  width: 100%;
  padding-right: 10px;
}
.container p {
  margin-top: 5px;
  color: #A3A3A3;
}
.music h4 {
  font-size: 20px;
  color: white;
  font-weight: 600;
  margin-top: 20px;
}
.created .box-images {
  width: calc(100% / 6);
}
.popular .box-images {
  width: calc(100% / 6);
}
.popular img {
  border-radius: 50%;
}

footer {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  background-color: #282828;
}

/*Footer-left*/
.footer-left {
  width: 250px;
  display: inline-block;
  line-height: 90px;
}
.footer-left img {
  height: 50px;
  width: 50px;
  vertical-align: middle;
  margin: 0 10px;
}
.footer-left span {
  color: white;
}
.footer-left .like {
  display: inline-block;
  margin-left: 40px;
  color: #606060;
}
.footer-left .like i:first-child {
  margin-right: 10px;
}
/* /Footer-left*/

/*Footer-central*/
.footer-central {
  width: 60%;
  text-align: center;
  color: white;
  margin-top: 10px;
}
.footer-central i {
  font-size: 18px;
  margin-left: 8px;
  margin-right: 8px;
  vertical-align: middle;
}
.footer-central i:nth-child(3) {
  font-size: 30px;
  margin-left: 18px;
  margin-right: 18px;
}
.production-music {
  height: 45px;
  line-height: 45px;
}
.timeline {
  width: 70%;
  height: 5px;
  display: inline-block;
  margin: 0 20px;
  border-radius: 5px;
  background-color: #5A5A5A;
  text-align: left;
  overflow: hidden;
}
.time {
  width: 20%;
  height: 100%;
  background-color: white;
  display: inline-block;
  vertical-align: top;
}
/* /Footer-central*/
.footer-right {
  width: 250px;
  text-align: end;
  color: white;
  line-height: 90px;
}
.footer-right i {
  margin-right: 10px;
}
.footer-right .timeline {
    width: 30%;
}
.footer-right .time {
    width: 30%;
}
/* /Footer-right*/

@media screen and (min-width: 1200px) {
  .nav-logo i {
    display: none;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .main-content .container .played .music {
    flex-wrap: wrap;
  }
  .main-content .container .played .box {
    width: 25%;
  }
  .created .box {
    width: calc(100% / 4);
  }
  .popular .box {
    width: calc(100% / 4);
  }
  .nav-logo i {
    display: none;
  }
}

@media screen and (min-width: 768px)  and (max-width: 991px) {
  .main-content .container .played .music {
    flex-wrap: wrap;
  }
  .main-content .container .played .box {
    width: 50%;
  }
  .created .box {
    width: calc(100% / 2);
  }
  .popular .box {
    width: calc(100% / 2);
  }
  .nav-logo i {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .main-nav a,h2{
    display: none;
  }
  .main-nav .installer {
    border-bottom: 0px;
  }
  .main-content .container .played .music {
    flex-wrap: wrap;
  }
  .main-content .container .played .box {
    width: 51%;
  }
  .main-content {
    width: calc(100% - 70px);
  }
  .created .box {
    width: calc(100% / 2);
  }
  .popular .box {
    width: calc(100% / 2);
  }
  .main-nav {
    width: 70px;
  }
  .cta {
    width: calc(100% - 70px);
  }
  .installer {
    text-align: center;
  }
  .nav-logo {
    text-align: center;
  }
  .nav-logo img {
    display: none;
  }
  .nav-logo i {
    font-size: 30px;
  }
  .nav-menu {
    padding: 0;
  }
}
